<?xml version="1.0"?>
<configuration>

  <appSettings>
    
    <!--Run the application in Interactive mode for testing/manual operation"-->
    <!-- "TRUE" enables interactive mode -->
    <!-- "FALSE" disables interactive mode -->
    <!--Note: This must be set to FALSE to run as a scheduled task etc...-->
    <add key="InteractiveMode" value="TRUE" />

    <!--Enable Single Recordset mode. When enabled the application will start, listen for one set of records then shut down-->
    <!--Used for when running app from a scheduled task. ie. Windows Task runs app every 30 minutes-->
    <!-- "TRUE" Single Recordset mode -->
    <!-- "FALSE" Single Recordset mode -->
    <!--Note: Ignored if Interactive mode is TRUE-->
    <add key="SingleRecordsetMode" value="TRUE" />
    
    <!--Serial port to listen on-->
    <!--Example: "COM1" -->
    <add key="SerialPort" value="COM5" />

    <!--Serial port Baud Rate-->
    <!--Example: "57600" -->
    <add key="BaudRate" value="57600" />

    <!--Serial port new line seperator-->
    <!--Example: "\r\n" (Carriage return & New line) for Arduino -->
    <add key="NewLine" value="\r\n" />

    <!--ThingSpeak Items"-->
    <!--Enable posting to ThingSpeak - "TRUE" or "FALSE"-->
    <add key="ThingSpeakEnabled" value="TRUE" />    
    
    <!--URI for the ThingSpeak update API ie."http://api.thingspeak.com/update"-->
    <add key="ThingSpeakURI" value="http://api.thingspeak.com/update" />

    <!-- ThingSpeak (TS) Sensor Map -->
    <!-- Key="tsSensor-X" Where X is numbered from 1 to 99 in order -->
    <!-- value = "TS Channel Write API key,TS Field,Your Sensor ID sent to the serial port -->
    <!-- Example Map for 3 sensors -->
    <!--  <add key="tsSensor-1" value="ABC1234567890XXX,field1,MyTempSensorID" /> -->
    <!--  <add key="tsSensor-2" value="ABC1234567890YYY,field1,MyWindSensorID" /> -->
    <!--  <add key="tsSensor-3" value="ABC1234567890YYY,field2,MyOtherSensorID" /> -->
    <!-- Update/add your keys below -->
    <add key="tsSensor-1" value="ABC1234567890XXX,field1,MyTempSensorID" />
    
  </appSettings>
  
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
